<h1>All Movies</h1>

<table class="movies-table">
  <thead>
    <tr>
      <th class="<%= 'sorted' if params[:sort] == 'title' %>">
        <%= link_to "Title", movies_path(sort: "title") %>
        <%= "↑" if params[:sort] == 'title' %>
      </th>
      <th class="<%= 'sorted' if params[:sort] == 'rating' %>">
        <%= link_to "Rating", movies_path(sort: "rating") %>
        <%= "↑" if params[:sort] == 'rating' %>
      </th>
      <th class="<%= 'sorted' if params[:sort] == 'description' %>">
        <%= link_to "Description", movies_path(sort: "description") %>
        <%= "↑" if params[:sort] == 'description' %>
      </th>
      <th class="<%= 'sorted' if params[:sort] == 'release_date' %>">
        <%= link_to "Release Date", movies_path(sort: "release_date") %>
        <%= "↑" if params[:sort] == 'release_date' %>
      </th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.description %></td>
        <td><%= movie.release_date %></td>
        <td>
          <%= link_to 'Show', movie_path(movie), class: "btn btn-info" %> |
          <%= link_to "Edit", edit_movie_path(movie), class: "btn btn-warning" %> |
          <%= button_to "Delete", movie_path(movie),
                        method: :delete,
                        data: { confirm: "Are you sure?" },
                        class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Add New Movie', new_movie_path, class: "btn btn-success" %>
